.hamburger {
  font-size: 14px;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 999;
}

.hamburger div {
  display: inline-block;
  margin-right: 10px;
}

.hamburger div:nth-child(2) {
  display: none;
}

.hamburger .hamburger-btn {
  background-color: transparent;
  border: transparent;
  position: relative;
  height: 25px;
  width: 35px;
}

.hamburger .hamburger-btn span {
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #222;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.hamburger .hamburger-btn span:nth-child(1) {
  top: 0;
}

.hamburger .hamburger-btn span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hamburger .hamburger-btn span:nth-child(3) {
  bottom: 0;
}

@media only screen and (max-width: 991px) {
  .hamburger {
    display: block;
  }
}
.open-nav div:nth-child(2) {
  display: block;
}

.open-nav div:nth-child(1) {
  display: none;
}

.open-nav .hamburger-btn {
  position: relative;
}

.open-nav .hamburger-btn span:nth-child(2) {
  opacity: 0;
  width: 0;
}

.open-nav .hamburger-btn span:nth-child(1) {
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}

.open-nav .hamburger-btn span:nth-child(3) {
  -webkit-transform: translateY(50%) rotate(-45deg);
  -ms-transform: translateY(50%) rotate(-45deg);
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}

.navbar{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 0;
	padding-right: 0;
}
.header-area{
	position: relative;
	z-index: 999;
	.navbar-brand{
		img{
			width: 180px;
		}
	}
	.nav-menu-area{
		margin-left: auto;
	}
	.navbar-items{
		.nav-item{
			display: inline-block;
			.nav-link{
				font-size: 22px;
				line-height: 27px;
				color: #4D4344;
				padding: 15px 0;
				margin-left: 56px;
				position: relative;
				&:before{
					position: absolute;
				    content: '';
				    width: 100%;
				    height: 2px;
				    bottom: -3px;
				    left: 0;
				    -webkit-transform: scaleX(0);
				    transform: scaleX(0);
				    @extend %t-b;
				    -webkit-transform-origin: right center;
				    transform-origin: right center;
				    -webkit-transition: -webkit-transform .5s cubic-bezier(.19,1,.22,1);
				    transition: -webkit-transform .5s cubic-bezier(.19,1,.22,1);
				    transition: transform .5s cubic-bezier(.19,1,.22,1);
				    transition: transform .5s cubic-bezier(.19,1,.22,1),-webkit-transform .5s cubic-bezier(.19,1,.22,1);
				}
				&:hover:before{
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
					-webkit-transform-origin: left center;
					transform-origin: left center;
				}
			}
			&:nth-child(1){
				.nav-link{
					margin-left: 0px;
				}
			}
		}
		.nav-item.active{
			.nav-link{
				&:before{
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
					-webkit-transform-origin: left center;
					transform-origin: left center;
				}
			}
		}
	}
	.nav-menu-area.lg-nav{
		@media #{$lg_device}{
			display: none;
		}
	}
}
.header-dark{
	.navbar-brand{
		.logo-l{
			display: none;
		}
	}
	.hamburger .hamburger-btn span{
		background: #4D4344;
	}
	.nav-menu-area{
		.navbar-items{
			.nav-item{
				.nav-link{
					font-size: 17px;
					
				}
			}
		}
	}
}
.header-light{
	.navbar-brand{
		.logo-d{
			display: none;
		}
	}
	.navbar-items{
		.nav-item{
			.nav-link{
				color: #fff;
			}
		}
	}
	.hamburger .hamburger-btn span{
		background: #fff;
	}
}
.hamburger.open-nav{
	.hamburger-btn span{
		background: #4D4344;
	}
}
.header-area.header_fixed_top{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.sm-nav-overlay{
	background: rgba(0,0,0,.6);
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
.sm-nav-area{
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	overflow: hidden;
	background: #fff;
	width: 369px;
	padding-top: 100px;
	@include transform(translateX(100%));
	.navbar-items{
		height: 100%;width: 100%;
		padding-left: 50px;
		padding-right: 25px;
		.nav-item{
			display: block;
			.nav-link{
				color: #4D4344;
				margin: 0;
				display: inline-block;
				margin-bottom: 15px;
			}
		}
	}
}

.child-container {
    padding-left: 7vw;
    padding-right: 7vw;
    overflow: hidden;
    @media #{$md_device}{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    @media #{$sm_mobile}{
        padding-left: 3vw;
        padding-right: 3vw;
    }
}